<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="home-buttons">
    <a class="home-btn" [routerLink]="['/sign-in']">
      <ion-icon name="log-in-outline"></ion-icon>
      <div class="btn-label">Sign In</div>
    </a>
    <a class="home-btn" [routerLink]="['/feedback']">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <div class="btn-label">Feedback</div>
    </a>
    <a class="home-btn" [routerLink]="['/waiver']">
      <ion-icon name="document-text-outline"></ion-icon>
      <div class="btn-label">Waivers</div>
    </a>
    <a class="home-btn" [routerLink]="['/extra']">
      <ion-icon name="document-text-outline"></ion-icon>
      <div class="btn-label">Extra</div>
    </a>
  </div>
</ion-content>
